<ion-header>
  <ion-toolbar>
	 <ion-buttons slot="start" color="danger">
		 <ion-back-button></ion-back-button>
	 </ion-buttons>
    <ion-title color="danger">Representatives Found:</ion-title>
	<ion-icon slot="end" color="danger" name="alert-circle-outline" (click)="goToReports()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
	<ion-item *ngFor="let rep of (reps | async)">
		<ion-label>
			<ion-toolbar color="tertiary">
			<ion-label>
				<ion-thumbnail slot="start">
					<ion-img [src]="rep.img"></ion-img>
				</ion-thumbnail>
			</ion-label>
			<h1>{{rep.name}}</h1>
			<h2>{{rep.position}} for {{rep.state}}</h2>
		</ion-toolbar>
			<ion-toolbar>
				{{rep.website}}
			</ion-toolbar>
			<ion-toolbar>
				<h2>{{rep.number}}</h2>
				<ion-buttons color="danger" fill="solid" slot="end" (click)="makeCall(rep.number)">
					<ion-icon name="call-outline"></ion-icon>
					Call
				</ion-buttons>
			</ion-toolbar>
		</ion-label>
	</ion-item>
	</ion-list>
	<center><h2>{{state}}</h2></center>
</ion-content>
