<ion-header>
  <ion-toolbar>
	 <ion-buttons slot="start" color="danger">
		 <ion-back-button></ion-back-button>
	 </ion-buttons>
    <ion-title>Representatives Found:</ion-title>
	<ion-icon slot="end" color="danger" name="alert-circle-outline" (click)="goToReports()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
	<ion-item *ngFor="let rep of (reps | async)">
		<ion-thumbnail slot="start">
		<ion-img [src]="rep.img"></ion-img>
		</ion-thumbnail>
		<ion-label>{{rep.name}}</ion-label>
		<p>{{rep.position}} for {{rep.state}}</p>
		<p></p>
		<p>{{rep.website}}</p>
		<p>{{rep.number}}</p>
	</ion-item>
	</ion-list>  
</ion-content>
