<ion-header>
  <ion-toolbar>
    <ion-title>Find Your Representative</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-toolbar>
		<ion-item>
			<ion-input placeholder="Enter Zip" [(ngModel)]="this.zipcode"></ion-input>
		</ion-item>
		<ion-button color="danger" shape="round" (click)="searchZip()">
			<ion-icon name="search-circle-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
	<ion-button color="danger" fill="outline" (click)="allowLocation()">
		Search by my Location
	</ion-button>
</ion-content>
