<script src="bigdatacloud_reverse_geocode.js" type="text/javascript"></script>
<ion-content>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-col>
						<ion-title>Find your Representitive</ion-title>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
	<ion-grid>
		<ion-col>
				<ion-item>
					<ion-select placeholder="Select State" [(ngModel)]="this.state">
						<ion-select-option value="AL">Alabama</ion-select-option>
						<ion-select-option value="AK">Alaska</ion-select-option>
						<ion-select-option value="AZ">Arizona</ion-select-option>
						<ion-select-option value="AR">Arkansas</ion-select-option>
						<ion-select-option value="CA">California</ion-select-option>
						<ion-select-option value="CO">Colorado</ion-select-option>
						<ion-select-option value="CT">Connecticut</ion-select-option>
						<ion-select-option value="DE">Delaware</ion-select-option>
						<ion-select-option value="FL">Florida</ion-select-option>
						<ion-select-option value="GA">Georgia</ion-select-option>
						<ion-select-option value="HI">Hawaii</ion-select-option>
						<ion-select-option value="ID">Idaho</ion-select-option>
						<ion-select-option value="IL">Illinois</ion-select-option>
						<ion-select-option value="IN">Indiana</ion-select-option>
						<ion-select-option value="IA">Iowa</ion-select-option>
						<ion-select-option value="KS">Kansas</ion-select-option>
						<ion-select-option value="KY">Kentucky</ion-select-option>
						<ion-select-option value="LA">Louisiana</ion-select-option>
						<ion-select-option value="ME">Maine</ion-select-option>
						<ion-select-option value="MD">Maryland</ion-select-option>
						<ion-select-option value="MA">Massachusetts</ion-select-option>
						<ion-select-option value="MI">Michigan</ion-select-option>
						<ion-select-option value="MN">Minnesota</ion-select-option>
						<ion-select-option value="MS">Mississippi</ion-select-option>
						<ion-select-option value="MO">Missouri</ion-select-option>
						<ion-select-option value="MT">Montana</ion-select-option>
						<ion-select-option value="NE">Nebraska</ion-select-option>
						<ion-select-option value="NV">Nevada</ion-select-option>
						<ion-select-option value="NH">New Hampshire</ion-select-option>
						<ion-select-option value="NJ">New Jersey</ion-select-option>
						<ion-select-option value="NM">New Mexico</ion-select-option>
						<ion-select-option value="NY">New York</ion-select-option>
						<ion-select-option value="NC">North Carolina</ion-select-option>
						<ion-select-option value="ND">North Dakota</ion-select-option>
						<ion-select-option value="OH">Ohio</ion-select-option>
						<ion-select-option value="OK">Oklahoma</ion-select-option>
						<ion-select-option value="OR">Oregon</ion-select-option>
						<ion-select-option value="PA">Pennsylvania</ion-select-option>
						<ion-select-option value="RI">Rhode Island</ion-select-option>
						<ion-select-option value="SC">South Carolina</ion-select-option>
						<ion-select-option value="SD">South Dakota</ion-select-option>
						<ion-select-option value="TN">Tennessee</ion-select-option>
						<ion-select-option value="TX">Texas</ion-select-option>
						<ion-select-option value="UT">Utah</ion-select-option>
						<ion-select-option value="VT">Vermont</ion-select-option>
						<ion-select-option value="VA">Virginia</ion-select-option>
						<ion-select-option value="WA">Washington</ion-select-option>
						<ion-select-option value="WV">West Virginia</ion-select-option>
						<ion-select-option value="WI">Wisconsin</ion-select-option>
						<ion-select-option value="WY">Wyoming</ion-select-option>
					</ion-select>
				</ion-item>
		</ion-col>
		<ion-row>
			<ion-col>
				<ion-button color="danger" fill="outline" (click)="searchState()">
					Search by Selected State
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button color="danger" fill="outline" (click)="allowLocation()">
					Search by my Location
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
